* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mariobg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mario img {
    position: relative;
    width: 75px;
    top: 450px;
    animation: run 7s infinite linear;
}

@keyframes run {
    0%{left: 0%;}
    100%{left: 94%;}
}